#container{
    width:100%;
    height:100%;
    position:absolute;
}


.half{
  position:absolute;
    width:43.1%;
    left:16.2%;

}

.whole-1{
    position:absolute;
    width:35%;
    left:.2%;
    top:26%; 
    transform: rotate(30deg);

}
.whole-2{
    position:absolute;
    width:35%;
    left:40%; 
    top:31%;
    transform: rotate(10deg);

}



.halfheart{
    position:absolute;
    width:43.1%;
    left:16.2%;
    z-index: 1;
    display: none;
}

.wholeheart-1{
    position:absolute;
    width:35%;
    left:.2%;
    top:26%; 
    z-index: 1;
    transform: rotate(30deg);
    display: none;


}
.wholeheart-2{
    position:absolute;
    width:35%;
    left:40%; 
    top:31%;
    z-index: 1;
    transform: rotate(10deg);
    display: none;
}


html, body {
    margin: 0;
    height: 100%;
    background-color: black;

}






/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
